.payment-card {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.payment-logo {
    display: block;
    max-height: -webkit-fill-available;
    max-width: 100%;
    width: 25%;
}

.payment-btn {
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 30px;
    background-color: #337c37;
    border-color: #337c37;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 300px;
}

.payment-btn:hover {
    background-color: #286c2b;
    border-color: #286c2b;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(51, 124, 55, 0.3);
}

.payment-processing {
    padding: 30px 0;
}

.spinner-border {
    width: 4rem;
    height: 4rem;
    border-width: 0.3em;
}

.payment-success-icon {
    font-size: 5rem;
    color: #337c37;
}

.payment-success {
    padding: 30px 0;
}

#payment-step-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Адаптивність для мобільних пристроїв */
@media (max-width: 576px) {
    
    .payment-btn {
        font-size: 16px;
        padding: 10px 20px;
    }
    
    .spinner-border {
        width: 3rem;
        height: 3rem;
    }
    
    .payment-success-icon {
        font-size: 4rem;
    }
}